<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.com.hungryadmin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/logouser" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/web_hi_res_512"
        android:label="@string/app_name"
        android:roundIcon="@drawable/web_hi_res_512"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminUpdatesOrder"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsersActivity"
            android:parentActivityName=".AdminUpdatesOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YesUsersActivity"
            android:parentActivityName=".AdminUpdatesOrder"
            android:screenOrientation="portrait" />
        <activity android:name=".obncActivity" />
        <activity android:name=".OrderAsAdmin"></activity>
    </application>

</manifest>